<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta" >
    <div class="container" style="width: 100%;">
        <!-- <h2 class="title">
            Trade Futures
            <br/>
            Like a Pro
        </h2>
                <a href="" class="cs-button-solid" style="margin-bottom: 2rem;">Get started</a>
        <p>
            ProFuturesTrader is an Independent Introducing Broker (IIB) offering electronic futures. ProFuturesTrader is registered with the CFTC and a member of the National Futures Association (NFA).
        </p> -->
    <p>
THIS MATERIAL HAS BEEN PREPARED BY A PROFUTURESTRADER, dba: WadesTrades, ProGoldTrader, WHO PROVIDES EDUCATION, RESEARCH MARKET COMMENTARY, AND TRADE RECOMMENDATIONS AS PART OF HIS OR HER SOLICITATION FOR ACCOUNTS AND SOLICITATION FOR TRADES. PROFUTURESTRADER dba: WADESTRADES, ITS PRINCIPALS, BROKERS, AND EMPLOYEES MAY TRADE IN DERIVATIVES FOR THEIR OWN ACCOUNTS OR FOR THE ACCOUNTS OF OTHERS. DUE TO VARIOUS FACTORS (SUCH AS RISK TOLERANCE, MARGIN REQUIREMENTS, TRADING OBJECTIVES, SHORT TERM vs. LONG TERM STRATEGIES, TECHNICAL vs. FUNDAMENTAL MARKET ANALYSIS, AND OTHER FACTORS), SUCH TRADING MAY RESULT IN THE INITIATION OR LIQUIDATION OF POSITIONS THAT ARE DIFFERENT FROM OR CONTRARY TO THE OPINIONS AND RECOMMENDATIONS CONTAINED THEREIN.
</p>

<p>
There are risks associated with trading with an internet-based platform. Since ProFuturesTrader doesn’t control the internet, order routing, etc. you can have connection losses, hardware failures, exchange connection issues, and DoS attacks. You assume full liability for such issues. If there are any connection issues, we employ phone support and are an IIB in the event of failure.
</p>
<p>
Futures and options trading involves substantial risk of loss and is not suitable for all investors. Investors should know and understand the risks involved in trading and carefully consider whether such trading is suitable in light of their financial circumstances and resources. Past performance is not necessarily indicative of future results. ProFuturesTrader also does business as (dba) ProGoldTrader, WadesTrades. © Copyright 2025 All rights reserved. Address 130 Intrepid Lane, Berlin, MD 21811.
        </p>

    </div>
    <picture style="width: 100%;">
        <source media="(max-width: 600px)" srcset="/assets/images/stocks.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/stocks.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/stocks.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>